<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title or "Weekly Planner"}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% block head %} {% endblock head %}

</head>
<body>
    <header class="header">
        <div class="header__brand--div">
            <h1 class="header__brand--name"><a class="header__link" href="{{ url_for('home') }}">WeeklyPlanner</a></h1>
            <a class="header__link" href="{{ url_for('viewData') }}">Visualize</a>
        </div>
        {% if "add" not in request.endpoint %}
            <a class="header__link" href="{{ url_for('addTask', date=selected_date)}}">+ Add task</a>
        {% endif %}
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>